* {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 1536px){
    .login {

        .logo {
            display: flex;
            gap: 10px;
            margin-top: 106px;
            margin-left: 136px;
        }

        .login-container {
            display: flex;
            justify-content: center;
            // justify-content: space-around;
            align-items: center;
            align-content: center;
            margin-top: 100px;
            gap: 150px;
            

            .login-header {
                font-size: 40px;
                font-weight: 700;
                color: #213F7D;
                line-height: 55px;
                letter-spacing: -0.04em;
            }

            .login-detail {
                font-size: 20px;
                font-weight: 400;
                color: #545F7D;
                line-height: 27px;
            }
            
        }
    }
}



@media only screen and (max-width: 600px){
    .login {

        .logo {
            display: flex;
            gap: 10px;
            margin-top: 56px;
            margin-left: 20px;
        }

        .login-container {
            display: flex;
            flex-direction: column;
            margin-top: 60px;
            

           
            .login-img {
                display: none;
                
            }

            .login-header {
                font-size: 30px;
                font-weight: 700;
                color: #213F7D;
                line-height: 55px;
                letter-spacing: -0.04em;
            }

            .login-detail {
                font-size: 14px;
                font-weight: 400;
                color: #545F7D;
                line-height: 27px;
            }

            

        }

        
    

    }
	
}
